Proyecto_n8n.json
{
  "name": "Proyecto_n8n",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "justificacion-inasistencia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1216,
        288
      ],
      "id": "c110e4ab-ddef-4201-98a1-5aa4b42d701e",
      "name": "Webhook1",
      "webhookId": "0e0db6af-ba64-4d04-91ab-e057c2e017fa"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analiza la siguiente solicitud de inasistencia evaluando la consistencia entre los datos del formulario y la imagen adjunta:\n\n- Alumno: {{ $json.body[\"Nombre completo\"] }}\n- Motivo: {{ $json.body[\"Motivo de inasistencia\"] }}\n- Descripción: {{ $json.body[\"Descripción del motivo\"] }}\n\nDevuelve únicamente un objeto JSON con la siguiente estructura, sin agregar texto markdown, bloques de código (```json), ni introducciones:\n{\"veredicto\": \"Aprobado o Rechazado o Dudoso\", \"nivel_confianza\": 85, \"razon\": \"Breve explicación del veredicto\"}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Valida el documento adjunto del estudiante."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary",
              "binaryImageDataKey": "adjunto"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -976,
        288
      ],
      "id": "f3e15c53-f30b-4cc7-a7a0-33c67d721a17",
      "name": "Basic LLM Chain1",
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -976,
        512
      ],
      "id": "0de96c2e-9a4a-4541-9e12-52a59f3aa885",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "imxEn6x5R8TFcJTc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 1. Capturamos la respuesta de la IA\nlet textoIA = $input.item.json.text || $input.item.json.output || \"\";\n\n// 2. Si ya es un objeto directo, lo estandarizamos\nif (typeof textoIA === 'object') {\n  return {\n    veredicto: textoIA.veredicto || \"Dudoso\",\n    nivel_confianza: parseFloat(textoIA.nivel_confianza || 0),\n    razon: textoIA.razon || \"Sin detalles\"\n  };\n}\n\n// 3. Limpieza de bloques de código markdown y espacios\ntextoIA = textoIA.trim();\ntextoIA = textoIA.replace(/^```json\\s*/i, \"\").replace(/```$/, \"\").trim();\n\n// 4. Si quedó vacío, devolvemos un estado seguro para el Switch (caerá en revisión manual)\nif (!textoIA) {\n  return {\n    veredicto: \"Dudoso\",\n    nivel_confianza: 0,\n    razon: \"El nodo de la IA no generó texto procesable.\"\n  };\n}\n\n// 5. Parseo seguro a JSON\ntry {\n  let datosParseados = JSON.parse(textoIA);\n  return {\n    veredicto: datosParseados.veredicto || \"Dudoso\",\n    nivel_confianza: parseFloat(datosParseados.nivel_confianza || 0),\n    razon: datosParseados.razon || \"Sin detalles\"\n  };\n} catch (e) {\n  // Intento de rescate si la IA metió texto plano decorativo alrededor del JSON\n  try {\n    let inicioJSON = textoIA.indexOf('{');\n    let finJSON = textoIA.lastIndexOf('}');\n    if (inicioJSON !== -1 && finJSON !== -1) {\n      let jsonLimpio = textoIA.substring(inicioJSON, finJSON + 1);\n      let datosParseadosMano = JSON.parse(jsonLimpio);\n      return {\n        veredicto: datosParseadosMano.veredicto || \"Dudoso\",\n        nivel_confianza: parseFloat(datosParseadosMano.nivel_confianza || 0),\n        razon: datosParseadosMano.razon || \"Sin detalles\"\n      };\n    }\n  } catch (err) {}\n\n  // Si fallan todos los rescates, enviamos un estado seguro\n  return {\n    veredicto: \"Dudoso\",\n    nivel_confianza: 0,\n    razon: \"Error de formato en la respuesta de la IA: \" + textoIA\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        288
      ],
      "id": "c263350a-20dd-4e97-93e4-3c64d80bbb19",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "096d6b41-4574-405c-a666-2248b1234042",
                    "leftValue": "={{ $json.nivel_confianza }}",
                    "rightValue": 80,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e87d42c6-5ea3-4c15-841b-4b0cb4c18168",
                    "leftValue": "={{ $json.nivel_confianza }}",
                    "rightValue": 80,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "479eb447-fc45-4147-9847-92ea134665cb",
                    "leftValue": "={{ $json.nivel_confianza }}",
                    "rightValue": 40,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -400,
        272
      ],
      "id": "08715316-108b-4ff0-9145-bc4895d2bb4a",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "6878861034",
        "text": "=Hola, tu solicitud de justificación ha sido procesada automáticamente.  Veredicto: {{ $json.estado }} Razón: {{ $json.observaciones }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "cd627007-b60a-432d-a902-69ec7c92554a",
      "name": "Send a text message",
      "webhookId": "f5ffb31d-ff02-444b-a4b9-4a0e6a832da2",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6878861034",
        "text": "=⚠️ ALERTA: Se requiere revisión manual.\nEl alumno {{ $('Webhook1').item.json.body['Nombre completo'] }} subió una justificación pero el sistema determinó duda.\nRazón de la IA: {{ $json.observaciones }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        224
      ],
      "id": "d1758d43-fdf2-4f94-9bfd-8fe66cd5f879",
      "name": "Send a text message1",
      "webhookId": "f5ffb31d-ff02-444b-a4b9-4a0e6a832da2",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6878861034",
        "text": "=Hola. Tu solicitud de justificación ha sido rechazada automáticamente por el sistema debido a que la documentación adjunta no es legible, no coincide con los datos ingresados o no cumple con los requisitos mínimos. Por favor, vuelve a iniciar el proceso con un comprobante válido.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        448
      ],
      "id": "8875e7d2-4f5d-4a1f-8aba-8d6bdf960137",
      "name": "Send a text message2",
      "webhookId": "f5ffb31d-ff02-444b-a4b9-4a0e6a832da2",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w",
          "mode": "list",
          "cachedResultName": "Proyecto n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "observaciones": "={{ $('Code in JavaScript1').item.json.razon }}",
            "estado": "={{ $('Code in JavaScript1').item.json.veredicto }}",
            "nombre": "={{ $('Webhook1').item.json.body['Nombre completo'] }}",
            "descripcion": "={{ $('Webhook1').item.json.body['Descripción del motivo'] }}",
            "motivo": "={{ $('Webhook1').item.json.body['Motivo de inasistencia'] }}",
            "fecha": "={{ $('Webhook1').item.json.body.fecha }}",
            "telegram_ID": "={{ $('Webhook1').item.json.body.telegram_id }}",
            "correo": "={{ $('Webhook1').item.json.body.correo }}",
            "estudiante_ID": "={{ $('Webhook1').item.json.body.estudiante_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estudiante_ID",
              "displayName": "estudiante_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_ID",
              "displayName": "telegram_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "20c7eb9a-7289-4006-aec5-2feca4c99b3d",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hpzobAPVQNFcXILW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w",
          "mode": "list",
          "cachedResultName": "Proyecto n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "observaciones": "={{ $json.razon }}",
            "estado": "=En revisión",
            "nombre": "={{ $('Webhook1').item.json.body['Nombre completo'] }}",
            "descripcion": "={{ $('Webhook1').item.json.body['Descripción del motivo'] }}",
            "motivo": "={{ $('Webhook1').item.json.body['Motivo de inasistencia'] }}",
            "fecha": "={{ $('Webhook1').item.json.body.fecha }}",
            "telegram_ID": "={{ $('Webhook1').item.json.body.telegram_id }}",
            "correo": "={{ $('Webhook1').item.json.body.correo }}",
            "estudiante_ID": "={{ $('Webhook1').item.json.body.estudiante_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estudiante_ID",
              "displayName": "estudiante_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_ID",
              "displayName": "telegram_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        224
      ],
      "id": "45932084-94de-4f46-aec6-072319a8927f",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hpzobAPVQNFcXILW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w",
          "mode": "list",
          "cachedResultName": "Proyecto n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "observaciones": "=Documentación ilegible o inconsistente con la solicitud.",
            "estado": "=Rechazado (Baja Confianza)",
            "nombre": "={{ $('Webhook1').item.json.body['Nombre completo'] }}",
            "descripcion": "={{ $('Webhook1').item.json.body['Descripción del motivo'] }}",
            "motivo": "={{ $('Webhook1').item.json.body['Motivo de inasistencia'] }}",
            "fecha": "={{ $('Webhook1').item.json.body.fecha }}",
            "telegram_ID": "={{ $('Webhook1').item.json.body.telegram_id }}",
            "correo": "={{ $('Webhook1').item.json.body.correo }}",
            "estudiante_ID": "={{ $('Webhook1').item.json.body.estudiante_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estudiante_ID",
              "displayName": "estudiante_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telegram_ID",
              "displayName": "telegram_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo",
              "displayName": "motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observaciones",
              "displayName": "observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        448
      ],
      "id": "eee052dd-42ca-48e3-860c-2a5509c663e1",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hpzobAPVQNFcXILW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1200,
        896
      ],
      "id": "3c9ba1ec-ad32-4e8f-8194-18b50ae9bb95",
      "name": "Telegram Trigger",
      "webhookId": "062068d5-693a-4228-997c-06c863cb77a7",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "=solicitud {{ $json.message.text }}",
                    "rightValue": "hola",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7e7811e3-14a2-41ac-88f6-7afc83e71c97"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bf3fab33-df4d-40ac-a6ec-9179c3c8e856",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "^\\d+$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -992,
        896
      ],
      "id": "35ccffeb-e2ae-4c26-9c64-e84242f811c5",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "=6878861034",
        "text": "¡Hola! Para consultar el estado de tu trámite, por favor responde enviando únicamente tu número de ID de estudiante a continuación.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        704
      ],
      "id": "bd543730-23cb-494c-b3d8-259c02a2b253",
      "name": "Send a text message3",
      "webhookId": "1286ec33-246a-4715-b9f4-5f11f6265d23",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=6878861034",
        "text": "¡Hola! No he encontrado tu ID de estudiante, verificalo y mandame solo tu ID de estudiante, sin puntos ni comas ni texto.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        1168
      ],
      "id": "54af7e7d-338d-432a-96b7-a2fb6d4b3148",
      "name": "Send a text message4",
      "webhookId": "1286ec33-246a-4715-b9f4-5f11f6265d23",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c5e2f429-0e15-4001-bf03-e9faa2680546",
              "leftValue": "={{ $json.estudiante_ID }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        1104
      ],
      "id": "1a7e07c8-803e-4a4b-90f6-258b9a5f08d1",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "=6878861034",
        "text": "=¡Hola! El estado de tu solicitud es:  {{ $('Get row(s) in sheet').item.json.estado }}.\nObservaciones: {{ $('Get row(s) in sheet').item.json.observaciones }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        928
      ],
      "id": "a310a574-2a57-401e-b58f-5b7963fa69ea",
      "name": "Send a text message5",
      "webhookId": "1286ec33-246a-4715-b9f4-5f11f6265d23",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w",
          "mode": "list",
          "cachedResultName": "Proyecto n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estudiante_ID",
              "lookupValue": "={{ $('Telegram Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -736,
        1088
      ],
      "id": "8ea6247a-8e31-44c2-96d0-951e1b446d09",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hpzobAPVQNFcXILW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c4ff45ff-95ce-4156-b47f-932818d6a909",
              "leftValue": "={{ $json.fecha }}",
              "rightValue": "={{ $json.fecha }}",
              "operator": {
                "type": "dateTime",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -608,
        1728
      ],
      "id": "1e292ddf-278a-4486-93e3-419636074d71",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "=6878861034",
        "text": "hola",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        1728
      ],
      "id": "ac53acc7-9d36-4999-b2f1-f413696ef1fe",
      "name": "Send a text message6",
      "webhookId": "1286ec33-246a-4715-b9f4-5f11f6265d23",
      "credentials": {
        "telegramApi": {
          "id": "OAavOYsMfJdfuBK8",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8566d2f7-26c7-4e22-9683-32908bf80231",
              "name": "fecha",
              "value": "Esta semana no han habido formularios de inasistencia",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1568
      ],
      "id": "f33aa423-73e1-4df8-bd3f-ee1bae84ec86",
      "name": "No encontrado"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1904
      ],
      "id": "3e22f739-a19e-4912-a780-39fde065a04f",
      "name": "Reporte Semanal"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        1728
      ],
      "id": "e3016961-2a4b-4acf-8ff2-4bcd18feeff5",
      "name": "Conteo de solicitudes"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w",
          "mode": "list",
          "cachedResultName": "Proyecto n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gfPvdrvHnWJyxWgctIuzxJabhT2cFlgJwRSlYWO0q-w/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "fecha",
              "lookupValue": "2026-05-29"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1104,
        1728
      ],
      "id": "6bc42658-9d8b-4518-af35-04c08f387cd4",
      "name": "Obtener informacion",
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hpzobAPVQNFcXILW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1392,
        1728
      ],
      "id": "9bdf7de5-2eed-4105-a643-2fc1d45c5e02",
      "name": "Horario"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "No encontrado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reporte Semanal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No encontrado": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reporte Semanal": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conteo de solicitudes": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener informacion": {
      "main": [
        [
          {
            "node": "Conteo de solicitudes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horario": {
      "main": [
        [
          {
            "node": "Obtener informacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6e9c975e-534e-4bc1-997f-102de94b60b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "28873e3e177bf8a45ba2609e26956932a04f7b988762ea4470959d6828c1385c"
  },
  "id": "ioUz1XhS7VMCU3lW",
  "tags": []
}